
.section--map-container {
    background-color: $darkland / 1.5%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .main--map-tiles {
        width: 320px;
        height: 320px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        background-color: $darkland;
        padding: 10px;
    }
    .block--game-controls {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        .icon-gamepad-key {

        }
    }
}


[class*="block--tile"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block--tile_char {
    background-color: $grass;
    border-radius: 100px;
    .icon--char {
        font-size: 6rem;
    }
    .block--char-data {
        position: absolute;
        color: $darkland;
    }
}

.block--tile_path {
    background-color: $grass;
}

.block--tile_blocked {
    background-color: $land;
}
.block--tile_corner {
    background-color: $darkland;
    color: $land;
}
